* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #361134;
    color: #FFFFFF;
    padding: 20px;
}

header{
    background-color:  #B0228C;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 2.5em;
}

.container  {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

#sobre-mi{
    background-color: #EA3788;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#sobre-mi img{

    max-width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;

}

#sobre-mi p{

    max-width: 800px;
    text-align: center;
}


#Hobbies{
    background-color: #E56B70;
    padding: 20px;
}


.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.hobbies-img{
    text-align: center;
}

.hobbies-img img{
    width: 100%;
    height: 50%;
    max-width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.hobbies-img p{
    margin-top: 10px;
    font-weight: bold;
}

#redes{
    background-color: #EA3788;
    padding: 20px;
}

#contacto {
    background-color: #B0228C;
    padding: 20px;
    text-align: center;
}

footer{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #EA3788;
}

/*@media (min-width: 768px){
    .container{
        grid-template-columns: 1fr, 1fr;
    }

    #sobre-mi{
        flex-direction: row;
    }
    #sobre-mi{
        text-align: left;
    }
}x



