* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #F96E46;
    color: #FFFFFF;
    padding: 20px;
}

header{
    background-color:  #545863;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

#sobre-mi img{
    max-width: 200px;
}

.hobbies-img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px img;
}

#Hobbies{
    background-color: #00E8FC;
    padding: 20px;
}
