* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #84DCC6;
    color: #FFFFFF;
    padding: 20px;
}

#sobre-mi img{
    max-width: 200px;
}

.hobbies-img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px img;
}
